<?xml version="1.0"?>
<configuration>
  <section name="Emc.Corporation.InputAccel.DAL" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  <Emc.Corporation.InputAccel.DAL>
    <add key="default_iadb" value="StoreId=default_iadb;StoreType=SqlDatabase;DatabaseType=SQLSERVER;Server=10.2.4.238,1433;Catalog=IADB;IntegratedAuth=false;User=!-AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATwXe2SVdz0OU3+pTWrdneQQAAAACAAAAAAAQZgAAAAEAACAAAABeDhMmUDRNeE+sie8gRN3sprU2vBrXZm8EvifT1MhuggAAAAAOgAAAAAIAACAAAAC5Ht4EA+nNr5FuNspBHQiKJP3C3fPaGYMVME6QRDFNbhAAAAAbf9WaP0ThYXM0BocKr9J7QAAAAF28MHwVUzbjqDVEaTKcYsdrEBxjIdMSdNuAJpN/ugRLx3w/mTW5WhaOg1scMmwPRi7hoyNhMALXTWAf6hVtn/c=;TraceLevel=AUDIT;ConnRetryCnt=3;EncryptProtocol=false;Password=!-AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATwXe2SVdz0OU3+pTWrdneQQAAAACAAAAAAAQZgAAAAEAACAAAAC4MJZVoeOpkWMu4iPKGmnWFBU/XWQ1g9fj71hCKbrLOQAAAAAOgAAAAAIAACAAAACewKU6irtyZ1/CBjogWuZfA/ntXZbtxbXYK82s/SLNfRAAAADlW56LQF/9cJRr/mi0cWv8QAAAACb44dKX3BW+7+iAe3p9Tru3LmMf0MyZnA6DLDVWKIXJ2c0Mliry+1wzTHZ5NYLyX+uwenBG0p2at688x8tqMS0=;" />
  </Emc.Corporation.InputAccel.DAL>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
